#lixo{
  position: relative;  
  top: 3px;
}

.myong-container{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.myong-container .content{
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0,0,0,0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myong-container .content section{
  width: 100%;
  max-width: 380px;
}

.myong-container .content section h1{
  margin: 64px 0 32px;
  font-size: 32px;
}

.myong-container .content section p{
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.myong-container .content form{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  max-width: 450px;
}

.myong-container .content form input{
  font-weight: bold;
  width: 80%;
  height: 60px;
  color: #fff;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  background: linear-gradient(to top left,#f1684f, #e02041);
  margin-top: 8px;
  cursor: pointer;
  transition: .6s;
}

.myong-container .content form input:focus{
  color: #333;
  width: 100%;
  background: #fff;
  border-bottom: 2px;
}

.myong-container .content form input:hover{
  color: #333;
  width: 100%;
  background: #fff;
  border-bottom: 2px;
}

::-webkit-input-placeholder{
  color: #fff;
}

::-webkit-input-placeholder:focus{
  color: #333;
}

.myong-container .content form .input-group{
  display: flex;
}

.myong-container .content form .input-group input + input{
  margin-left: 8px;
}

.myong-container .content label {
  top: 0;
  left: 0; right: 0;
  color: #616161;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}